.m-left{
   left: 50px; 
}

body{
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
.moto{
   position: relative;
   left: 500px;
   height: 200px; 
   width: 200px;
}
